START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

if [[ -n "$MAX_LIMIT" ]]; then
    (( END_INDEX >= MAX_LIMIT )) && END_INDEX=$(( MAX_LIMIT - 1 ))
fi

for (( idx=START_INDEX; idx<=END_INDEX; idx++ )); do
  {{ container_commands.run }} run \
    {{ container_commands.bind }} {{ mnt_dir }}/input:/mnt/data/input \
    {{ container_commands.bind }} {{ mnt_dir }}/flpe/busboi:/mnt/data/output \
    {{ sif_dir }}/busboi.sif \
    --reachfile reaches.json \
    -i ${idx}
done