START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

if [[ -n "$MAX_LIMIT" ]]; then
    (( END_INDEX >= MAX_LIMIT )) && END_INDEX=$(( MAX_LIMIT - 1 ))
fi

{% set skip_flag = "-k" if module.continue_downloads else "" %}

for (( idx=START_INDEX; idx<=END_INDEX; idx++ )); do
  {{ container_commands.run }} run \
    {{ container_commands.bind }} {{ mnt_dir }}/input:/mnt/data \
    {{ sif_dir }}/input.sif \
    -v {{ sword_version }} \
    -r /mnt/data/expanded_reaches_of_interest.json \
    -c {{ module.collection }} \
    -t "{{ module.time_range }}" \
    -i ${idx} \
    {{ skip_flag }}
done