START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

if [[ -n "$MAX_LIMIT" ]]; then
    (( END_INDEX >= MAX_LIMIT )) && END_INDEX=$(( MAX_LIMIT - 1 ))
fi

{% set constrained_flag = "-c" if module.constrained else "" %}

for (( idx=START_INDEX; idx<=END_INDEX; idx++ )); do
  apptainer run \
    --bind {{ mnt_dir }}/input:/mnt/data/input \
    --bind {{ mnt_dir }}/flpe/momma:/mnt/data/output \
    {{ sif_dir }}/momma.sif \
    -r reaches.json \
    -m {{ module.m_parameter}} \
    {{ constrained_flag }} \
    -i ${idx}
done