{{ container_cmd.run }} run \
  {{ container_cmd.bind }} {{ mnt_dir }}/input:/mnt/data/input \
  {{ container_cmd.bind }} {{ mnt_dir }}/flpe:/mnt/data/flpe \
  {{ container_cmd.bind }} {{ mnt_dir }}/diagnostics:/mnt/data/diagnostics \
  {{ container_cmd.bind }} {{ mnt_dir }}/moi:/mnt/data/moi \
  {{ container_cmd.bind }} {{ mnt_dir }}/offline:/mnt/data/offline \
  {{ container_cmd.bind }} {{ mnt_dir }}/validation:/mnt/data/validation \
  {{ container_cmd.bind }} {{ mnt_dir }}/output:/mnt/data/output \
  {{ optional_binds | join(' \\\n  ') }} \
  {{ sif_dir }}/output.sif \
  -s local \
  -j /app/metadata/metadata.json \
  -m {{ module.groups }} \
  -v {{ sword_version }} \
  -i ${SLURM_ARRAY_TASK_ID}