{% set expanded_flag = "-e" if module.expanded else "" %}

{{ container_cmd.run }} run \
  {{ container_cmd.bind }} {{ mnt_dir }}/input:/data \
  {{ optional_binds | join(' \\\n  ') }} \
  {{ sif_dir }}/setfinder.sif \
  -c continent.json \
  {{ module.reach_file }} \
  {{ expanded_flag }} \
  -s {{ sword_version }} \
  -o /data \
  -n /data \
  -a MetroMan HiVDI SIC NeoBAM \
  -i ${SLURM_ARRAY_TASK_ID}