START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

if [[ -n "$MAX_LIMIT" ]]; then
    (( END_INDEX >= MAX_LIMIT )) && END_INDEX=$(( MAX_LIMIT - 1 ))
fi

for (( idx=START_INDEX; idx<=END_INDEX; idx++ )); do
  {{ container_cmd.run }} run \
    {{ container_cmd.bind }} {{ module_dir }}/sic4dvar_param_confluence.ini:/app/sic4dvar_param_confluence.ini \
    {{ container_cmd.bind }} {{ mnt_dir }}/input:/mnt/data/input \
    {{ container_cmd.bind }} {{ mnt_dir }}/flpe/sic4dvar:/mnt/data/output \
    {{ container_cmd.bind }} {{ mnt_dir }}/logs:/mnt/data/logs \
    {{ optional_binds | join(' \\\n    ') }} \
    {{ sif_dir }}/sic4dvar.sif \
    -r reaches.json \
    --config_file_path /app/sic4dvar_param_confluence.ini \
    --index ${idx}
done