START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

if [[ -n "$MAX_LIMIT" ]]; then
    (( END_INDEX >= MAX_LIMIT )) && END_INDEX=$(( MAX_LIMIT - 1 ))
fi

for (( idx=START_INDEX; idx<=END_INDEX; idx++ )); do
  {{ container_cmd.run }} run \
    {{ container_cmd.bind }} {{ mnt_dir }}/input:/mnt/data/input \
    {{ container_cmd.bind }} {{ mnt_dir }}/flpe:/mnt/data/flpe \
    {{ container_cmd.bind }} {{ mnt_dir }}/moi:/mnt/data/moi \
    {{ container_cmd.bind }} {{ mnt_dir }}/offline:/mnt/data/offline \
    {{ container_cmd.bind }} {{ mnt_dir }}/validation:/mnt/data/output \
    {{ optional_binds | join(' \\\n    ') }} \
    {{ sif_dir }}/validation.sif \
    -r reaches.json \
    -t unconstrained \
    --svs_file {{ module.svs_path }} \
    -i ${idx}

done
