START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

for (( idx=${START_INDEX}; idx<=${END_INDEX}; idx++ )); do
  if [[ -n "$MAX_LIMIT" && "$idx" -ge "$MAX_LIMIT" ]]; then
      break
  fi

  apptainer run \
    --bind {{ mnt_dir }}/input:/mnt/data/input \
    --bind {{ mnt_dir }}/flpe/busboi:/mnt/data/output \
    {{ sif_dir }}/busboi.sif \
    --reachfile reaches.json \
    -i ${idx}
done