START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

for (( idx=${START_INDEX}; idx<=${END_INDEX}; idx++ )); do
  if [[ -n "$MAX_LIMIT" && "$idx" -ge "$MAX_LIMIT" ]]; then
      break
  fi

  apptainer run \
    --bind {{ mnt_dir }}/input:/mnt/data/input \
    --bind {{ mnt_dir }}/validation:/mnt/data/svs \
    --bind {{ mnt_dir }}/flpe:/mnt/data/flpe \
    --bind {{ mnt_dir }}/moi:/mnt/data/moi \
    --bind {{ mnt_dir }}/offline:/mnt/data/offline \
    --bind {{ mnt_dir }}/validation:/mnt/data/output \
    {{ sif_dir }}/validation.sif \
    -r reaches.json \
    -t unconstrained \
    -i ${idx}

done
