START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

singularity run \
  --bind {{ mnt_dir }}/input:/mnt/data \
  {{ sif_dir }}/input.simg \
  -v {{ exp.sword_version }} \
  -r /mnt/data/expanded_reaches_of_interest.json \
  -c {{ module.collection }} \
  -t "{{ module.time_range }}" \
  -i ${START_INDEX}-${END_INDEX} \
  {{ skip_flag }}