START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))

singularity run \
  --bind {{ mnt_dir }}/input:/data \
  {{ sif_dir }}/setfinder.simg \
  -c {{ files.continent }} \
  {{ module.extra_args | default('') }} \
  -s {{ exp.sword_version }} \
  -o /data \
  -n /data \
  -a MetroMan HiVDI SIC NeoBAM \
  -i ${START_INDEX}