START_INDEX=$(( ${OFFSET:-0} + SLURM_ARRAY_TASK_ID * ${INDEX_RANGE:-1} ))
END_INDEX=$(( START_INDEX + ${INDEX_RANGE:-1} - 1 ))

for (( idx=${START_INDEX}; idx<=${END_INDEX}; idx++ )); do
  if [[ -n "$MAX_LIMIT" && "$idx" -ge "$MAX_LIMIT" ]]; then
      break
  fi
    
  singularity run \
    --bind {{ mnt_dir }}/input:/mnt/data/input \
    --bind {{ mnt_dir }}:/mnt/data/config \
    --bind {{ mnt_dir }}/flpe/sic4dvar:/mnt/data/output \
    --bind {{ mnt_dir }}/logs:/mnt/data/logs \
    {{ sif_dir }}/sic4dvar.simg \
    -r reaches.json \
    --config_file_path /mnt/data/config/{{ module.config_file }} \
    --index ${idx}
done